.ribon {
  position:absolute;
  z-index: 9999;
  top:15vh;
  left:-20vw;
  display: block;
  box-sizing:border-box;
  background: #8EEE00; 
  overflow: hidden;
  height:70px;
  width:65vw;                      
  transform: rotate(-25deg);
  padding-top: 15px;
}

.ribon-text {
  font-family:'Garaje-0703';
  font-size: 3vh;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  color: black;
  position: absolute;
  white-space: nowrap;
  animation: moveLeft 140s linear infinite; /* Adjust duration as needed */
}

@keyframes moveLeft {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}